<div>
    <modal
        v-if="showModalSuccess"
        @close="closeSucess"
        title="Success"
        subtitle="Event added!"
        propColor="#32CD32"
    />
    <modal
        v-if="showModalFailure"
        @close="closeFailure"
        title="Failure"
        subtitle="Error occured"
        propColor="red"
    />
    <modal
        v-if="showModalSuccessEdit"
        @close="closeSucessEdit"
        title="Success"
        subtitle="Event edited!"
        propColor="#32CD32"
    />
    <modal
        v-if="showModalFailureEdit"
        @close="closeFailureEdit"
        title="Failure"
        subtitle="Error occured while editing"
        propColor="red"
    />
    <app-input-form />
</div>
